{% load static %}<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Seated@Norra</title>
        <script type="text/javascript">
            function goToNewPage()
            {
                var room = document.getElementById('list').value;
                var klass = document.getElementById('list2').value;
                var url = room + '/' + klass
                if(url != 'none') {
                    window.location = url;
                }
            }
        </script>
    </head>
  <body>
    <style>
        body {
          background-image: url("{% static 'photobackround1.jpg' %}");
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: 100% 100%;
        }
        form {
            text-align: center;
        }
        footer {
            clear: both;
            position: relative;
            height: 200px;
            margin-top: -200px;
            }

    </style>
      <h1><center>Välkommen till Norra- Stockholms enda gymnasium.</center></h1>
        <form>
            <select name="list" id="list" accesskey="target">
                <option value='none' selected>Välj ett klassrum</option>
                <option value="a23">A23</option>
                <option value="b12">B12</option>
                <option value="b31">B31</option>
            </select>
            <select name="list2" id="list2" accesskey="target">
                <option value='none' selected>Välj en klass</option>
                <option value="NA20MA">NA20MA</option>
                <option value="NA21MA">NA21MA</option>
            </select>
            <input type=button value="Go" onclick="goToNewPage()" />
        </form>
        <div class="footer">
            <p>Made with ♡ by MartaCode 2022</p>
        </div>
    </body>
</html>



